{{> head}}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>HOMERO</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit voluptatibus quibusdam quasi consequatur
                tempora quis harum eligendi asperiores itaque excepturi error, exercitationem iusto quia nobis, eos ullam
                esse dolorum dolore!
            </p>
        </div>
        <div class="col-8">
            <img src="assets/img/images.png" class="img-thumbnail">
        </div>
    </div>
{{> footer }}